/* General */

body {
    margin: 0;
    padding: 0;
    background: rgb(236, 239, 244);
}

.font_bold {
    font-family: Roboto, Helvetica, Tahoma, sans-serif;
    font-weight: bold;
}

/* Header */

.header {
    background-color: red;
    height: 72px;
}

.header__container {
    margin: 0 auto;
    padding-left: 42px;
    padding-right: 42px;
    max-width: 1280px;
    min-width: 820px;
    display: flex;
}

.header__logo {
    flex: 1 0 10px;
}

.logo__link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    top: 23px;
    position: relative;
}

.header__nav {
    flex: 1 0 auto;
    text-align: center;
}

.nav {
    height: 72px;
    display: flex;
    flex-flow: row;
}

.nav__item {
    display: flex;
    position: relative;
}

.nav__item:hover {
    background-color: rgb(217, 16, 38);
}

.nav__item_active {
    background-color: #c01838;
}

.nav__item_active:hover {
    background-color: #c01838;
}

.nav__link {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    line-height: 75px;
    padding: 0 24px;
    white-space: nowrap;
}

.header__profile {
    flex: 2 1 auto;
    text-align: right;
    padding-top: 15px;
    position: relative;
}

.profile__link {
    text-decoration: none;
    /*position: relative;*/
    /*top: 21px;*/
}

.profile__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    vertical-align: middle;
}

.profile__name {
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

.profile__name:hover {
    border-bottom: 1px solid white;
}

.profile__more_button {
    color: white;
    padding-left: 10px;
    padding-right: 21px;
    cursor: pointer;
}

.profile__profile_nav {
    min-height: 20px;
    min-width: 100px;
    background: white;
    display: inline-block;
    box-shadow: 1px 2px 6px 0 hsla(0, 0%, 56%, .24);
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
}

.profile__profile_nav:before {
    content: "";
    top: -15px;
    right: 15px;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.profile_nav {
    padding: 24px 0;
}

.profile_nav__item {
    font-size: 16px;
    color: #1a1c1e;
    text-align: left;
    display: block;
    white-space: nowrap;
    padding: 8px 35px 8px 30px;
    border-left: 5px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: auto;
    font-family: Roboto, Helvetica, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    text-decoration: none;
}

.profile_nav__item_active {
    background: rgba(240, 240, 242, 1.00);
    border-left: 5px solid red;
}

/* Middle */

.middle {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 820px;
  display: flex;
}

/* Main */

.main {
  width: 60%;
}

/* Aside */

.aside {
  width: 40%;
}

/* Footer */

.footer {
    background: #000;
    color: #fff;
    z-index: 50;
}

.footer__container {
    margin: 0 auto;
    padding: 20px 42px;
    max-width: 1280px;
    min-width: 820px;
    display: flex;
}

.footer__footer_nav {
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Roboto,Helvetica,Tahoma,sans-serif;
    font-weight: 400;
}

.footer_nav__item {
    text-decoration: none;
    display: block;
    color: #9b9b9b;
}

.footer_nav__item:hover {
    color: white;
}
