/* Groups header */

.groups-header {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.groups-header__language-selector {
  display: inline-block;
}

.groups-header__button-language {
  font-size: inherit;
  text-transform: uppercase;
  color: #1d9bf5;
  padding-right: 11px;
  letter-spacing: 2px;
  background: none;
  cursor: pointer;
  border: none;
  outline:0;
}

.groups-header__button-language:after {
  content: " ";
  float: right;
  margin-top: 5px;
  margin-right: -9px;
  width: 6px;
  height: 6px;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: #1d9bf5;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.groups-header__languages-menu {
  display: none;
  position: absolute;
  margin-top: 17px;
  margin-left: 11px;
  background: white;
  padding: 10px 0;
  box-shadow: 1px 2px 6px 0 hsla(0, 0%, 56%, .24);
}

.groups-header__languages-menu:before {
  content: "";
  top: -15px;
  left: 15px;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.groups-header__languages-menu-item {
  font-size: 16px;
  color: #1a1c1e;
  text-align: left;
  display: block;
  white-space: nowrap;
  padding: 8px 35px 8px 30px;
  border-left: 5px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: auto;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
}

.groups-header__languages-menu-item_active {
  background: rgba(240, 240, 242, 1.00);
  border-left: 5px solid red;
}

.groups-header__languages-menu-item-name {
  width: 126px;
  color: #4c545b;
  display: inline-block;
}

.groups-header__languages-menu-item-code {
  width: 39px;
  color: #9b9b9b;
  text-transform: uppercase;
  display: inline-block;
}

/* Groups list */

.groups-list {
  /* Temporary */
  margin-top: 10px;
  margin-left: 10px;
}

.group {
  position: relative;
  width: 240px;
  background: white;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.group__button-more {
  position: absolute;
  z-index: 3;
  right: 8px;
  top: 8px;
  color: white;
  cursor: pointer;
}

.group__link {
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d9bf5;
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

.group__link:hover {
  background: #1273a8;
}

.group__learned-words {
  opacity: 1;
}

.group__slash {
  opacity: .8;
}

.group__words-in-group {
  opacity: .8;
}

.group__name {
  display: inline-block;
  padding: 20px 10px 20px 10px;
}

.group__actions-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: -16px;
  margin-top: 17px;
  margin-left: 11px;
  background: white;
  padding: 10px 0;
  box-shadow: 1px 2px 6px 0 hsla(0, 0%, 56%, .24);
}

.group__actions-menu:before {
  content: "";
  top: -15px;
  right: 15px;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.group__actions-menu-item {
  font-size: 16px;
  color: #1a1c1e;
  text-align: left;
  display: block;
  white-space: nowrap;
  padding: 8px 35px 8px 30px;
  border-left: 5px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: auto;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
}

.group__actions-menu-item_active {
  background: rgba(240, 240, 242, 1.00);
  border-left: 5px solid red;
}

.group__actions-menu-item-name {
  color: #4c545b;
  display: inline-block;
}

.common-group {
  width: 240px;
  background: white;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.common-group__dash {
  color: #9b9b9b;
}

.common-group__link {
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #9b9b9b;
  font-size: xx-large;
}

.common-group__learned-words {
  opacity: 1;
}

.common-group__slash {
  opacity: .8;
}

.common-group__words-in-group {
  opacity: .8;
}

.common-group__title {
  display: inline-block;
  padding: 20px 10px 20px 10px;
}

.create-group-box {
  width: 240px;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.create-group-box__link {
  height: 254px;
  border: 1px dashed #bfc5cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: #1d9bf5;
  text-align: center;
}

.create-group-box__link:hover {
  background: white;
  cursor: pointer;
}

.create-group-box__plus-icon {
  display: block;
  padding-bottom: 10px;
}

.create-group-box__add-group-label {
  display: block;
}

.create-group-box__form {
  display: none;
  height: 254px;
  background: white;
  color: #9b9b9b;
  padding: 16px;
}

.create-group-box__form-body {
  border: 1px solid #e2e2e9;
  margin-top: 80px;
  padding: 12px 12px 0;
}

.create-group-box__group-name {
  width: 100%;
  font-size: 16px;
  border: none;
  resize: none;
  outline: 0;
}

.create-group-box__group-name-hint {
  font-size: 12px;
  color: #9b9b9b;
}

.create-group-box__form-footer {
  width: 100%;
  padding-top: 64px;
  display: flex;
  justify-content: center;
}

.create-group-box__form-button {
  font-size: inherit;
  padding-right: 11px;
  background: none;
  cursor: pointer;
  border: none;
  outline:0;
}

.create-group-box__form-button:hover {
  text-decoration: underline;
}

.create-group-box__cancel-button {
  color: #9b9b9b;
}

.create-group-box__add-button {
  color: #1d9bf5;
  margin-left: 40px;
}
