.create-group-box {
  width: 240px;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.create-group-box__link {
  height: 254px;
  border: 1px dashed #bfc5cc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: #1d9bf5;
  text-align: center;
}

.create-group-box__link:hover {
  background: white;
  cursor: pointer;
}

.create-group-box__plus-icon {
  display: block;
  padding-bottom: 10px;
}

.create-group-box__add-group-label {
  display: block;
}

.create-group-box__form {
  display: none;
  height: 254px;
  background: white;
  color: #9b9b9b;
  padding: 16px;
}

.create-group-box__form-body {
  border: 1px solid #e2e2e9;
  margin-top: 80px;
  padding: 12px 12px 0;
}

.create-group-box__group-name {
  width: 100%;
  font-size: 16px;
  border: none;
  resize: none;
  outline: 0;
}

.create-group-box__group-name-hint {
  font-size: 12px;
  color: #9b9b9b;
}

.create-group-box__form-footer {
  width: 100%;
  padding-top: 64px;
  display: flex;
  justify-content: center;
}

.create-group-box__form-button {
  font-size: inherit;
  padding-right: 11px;
  background: none;
  cursor: pointer;
  border: none;
  outline:0;
}

.create-group-box__form-button:hover {
  text-decoration: underline;
}

.create-group-box__cancel-button {
  color: #9b9b9b;
}

.create-group-box__add-button {
  color: #1d9bf5;
  margin-left: 40px;
}
