.groups-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-bottom: 15px;
  margin-top: -15px;
  margin-left: -15px;
}

.groups-list_item {
  margin-left: 15px;
  margin-top: 15px;
}
