.groups-header {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.groups-header__language-selector {
  display: inline-block;
}

.groups-header__button-language {
  font-size: inherit;
  text-transform: uppercase;
  color: #1d9bf5;
  padding-right: 11px;
  letter-spacing: 2px;
  background: none;
  cursor: pointer;
  border: none;
  outline:0;
}

.groups-header__button-language:after {
  content: " ";
  float: right;
  margin-top: 5px;
  margin-right: -9px;
  width: 6px;
  height: 6px;
  border-left: 1px solid;
  border-top: 1px solid;
  border-color: #1d9bf5;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.groups-header__languages-menu {
  position: absolute;
  margin-top: 17px;
  margin-left: 11px;
  background: white;
  padding: 10px 0;
  box-shadow: 1px 2px 6px 0 hsla(0, 0%, 56%, .24);
  z-index: 1;
}

.groups-header__languages-menu:before {
  content: "";
  top: -15px;
  left: 15px;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.groups-header__languages-menu-item {
  font-size: 16px;
  color: #1a1c1e;
  text-align: left;
  display: block;
  white-space: nowrap;
  padding: 8px 35px 8px 30px;
  border-left: 5px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: auto;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
}

.groups-header__languages-menu-item_active {
  background: rgba(240, 240, 242, 1.00);
  border-left: 5px solid red;
}

.groups-header__languages-menu-item-name {
  width: 126px;
  color: #4c545b;
  display: inline-block;
}

.groups-header__languages-menu-item-code {
  width: 39px;
  color: #9b9b9b;
  text-transform: uppercase;
  display: inline-block;
}
