.group {
  position: relative;
  width: 240px;
  background: white;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
}

.group__button-more {
  position: absolute;
  z-index: 3;
  right: 8px;
  top: 8px;
  color: white;
  cursor: pointer;
}

.group__link {
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d9bf5;
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

.group__link:hover {
  background: #1273a8;
}

.group__learned-words {
  opacity: 1;
}

.group__slash {
  opacity: .8;
}

.group__words-in-group {
  opacity: .8;
}

.group__name {
  display: inline-block;
  padding: 20px 10px 20px 10px;
}

.group__actions-menu {
  position: absolute;
  top: 30px;
  right: -16px;
  margin-top: 17px;
  margin-left: 11px;
  background: white;
  padding: 10px 0;
  box-shadow: 1px 2px 6px 0 hsla(0, 0%, 56%, .24);
}

.group__actions-menu:before {
  content: "";
  top: -15px;
  right: 15px;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid white;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.group__actions-menu-item {
  font-size: 16px;
  color: #1a1c1e;
  text-align: left;
  display: block;
  white-space: nowrap;
  padding: 8px 35px 8px 30px;
  border-left: 5px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  width: auto;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
}

.group__actions-menu-item:hover {
  background: rgba(240, 240, 242, 1.00);
  border-left: 5px solid red;
}

.group__actions-menu-item-name {
  color: #4c545b;
  display: inline-block;
}

.group__info {

}

.group__edit-form {
  height: 222px;
  background: white;
  color: #9b9b9b;
  padding: 16px;
}

.group__form-body {
  border: 1px solid #e2e2e9;
  margin-top: 60px;
  padding: 12px 12px 0;
}

.group__form-footer {
  width: 100%;
  padding-top: 45px;
  display: flex;
  justify-content: center;
}

.group__form-button {
  font-size: inherit;
  padding-right: 11px;
  background: none;
  cursor: pointer;
  border: none;
  outline:0;
}

.group__form-button:hover {
  text-decoration: underline;
}

.group__negative-button {
  color: #9b9b9b;
}

.group__positive-button {
  color: #1d9bf5;
  margin-left: 40px;
}

.group__field-name {
  width: 100%;
  font-size: 16px;
  border: none;
  resize: none;
  outline: 0;
}

.group__field-name-hint {
  font-size: 12px;
  color: #9b9b9b;
}
