.card {
  height: 64px;
  margin: 0;
  list-style: none;
}

.card__body {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  height: 100%;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 0 24px;
}

.card__checkbox-wrapper {

}

.card__checkbox {

}

.card__dot-wrapper {
  width: 32px;
  height: 32px;
  position: relative;
}

.card__dot {
  width: 6px;
  height: 6px;
  position: relative;
  top: 50%;
  left: 50%;
  background: #9b9b9b;
  border-radius: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.card__dot_active {
  background: #3cca32;
}

.card__phrase-wrapper {
  flex: 1 1 auto;
}

.card__phrase {
  display: block;
  color: #1a1c1e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 21px;
  line-height: 1.4em;
  font-weight: 400;
  font-family: Roboto,Helvetica,Tahoma,sans-serif;
}

.card__translation {
  display: inline-block;
  max-width: 100%;
  font-size: 14px;
  color: #1a1c1e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4em;
  font-weight: 400;
  font-family: Roboto,Helvetica,Tahoma,sans-serif;
}
