.cards-header {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  padding-bottom: 15px;
}

.cards-header__group_name {
  font-size: 20px;
  color: #4c545b;
  font-weight: 400;
  line-height: 1.4em;
}

.cards-header__nav {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 8px;
}

.cards-header__nav-selected-item {
  color: #323bff;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  border-bottom: 2px solid #323bff;
  padding-bottom: 9px;
}

.cards-header__button-all-cards {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #1a1c1e;
  margin-right: 16px;
}

.cards-header__button-learned-cards {
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #1a1c1e;
  margin-left: 16px;
}

.cards-header__button-add-card {
  float: right;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #1d9bf5;
}

.cards-header__button-add-card:hover {
  border-bottom: 1px solid #1d9bf5;
}

.cards-header__button-add-card-icon {
  color: #1d9bf5;
}

.cards-header__button-add-card-label {
  margin-left: 8px;
}
