body {
  margin: 0;
  padding: 0;
  background: rgb(236, 239, 244);
}

.font_bold {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
}

.app {
  display: flex;
  height: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
