.content {
  display: flex;
  flex: 1 0 auto;
}

.content__container {
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 820px;
  padding-right: 42px;
  padding-left: 42px;
}

.wide-main {
  flex: 1 1 auto;
}
