.profile-view {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-view__avatar-wrapper {

}

.profile-view__avatar {
  border-radius: 50%;
  vertical-align: middle;
  width: 132px;
  height: 132px;
}

.profile-view__personal-info {

}

.profile-view__name-label {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 400;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  color: #4c545b;
}

.profile-view__age-label {
  font-size: 16px;
  line-height: 1.4em;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  color: #4c545b;
}

.profile-view__edit-link {
  font-size: 16px;
  line-height: 1.4em;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  color: #4c545b;
}

.profile-view__email-label {
  font-size: 16px;
  line-height: 1.4em;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
  color: #4c545b;
}
